.Find {
    text-align: center;
}

.Find-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.Find-img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: url('/public/background.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.Find-home-container{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: end;
    justify-content: center;
    border-bottom: 2px solid black;
}

.Find-home-button{
    font-size: 80px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.Find-home-button-img {
    width: 500px;
    height: 100%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Find-location-button{
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;

}
.Find-location-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background: darkblue;
    border-bottom: 2px solid black;
}

.Find-location-element {
    margin-left: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.Find-location{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: transparent;
    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0% 100%, 0 50%, 0% 0%);
}

.Find-location-down {
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: dodgerblue;
    clip-path: polygon(20% 0, 100% 50%, 20% 100%, 0% 100%, 80% 50%, 0% 0%);
}

.Find-container{
    width: 800px;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
}

.Find-container-element{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Find-element-container {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-top: 1px solid darkgray;
    background: white;
}

.Find-find-container{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid darkgray;
}

.Find-element-box {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-right: 1px solid darkgray;
    color: black;
    font-size: 20px;
}

.Find-element-textbox{
    width: 200px;
    height: 50%;
    padding: 5px 10px;
    font-size: 16px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
}

.Find-find-button {
    width: 180px;
    height: 50px;
    font-size: 20px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background: darkblue;
    cursor: pointer;
}

.Find-Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left:400px;
    top: 140px;
    width: 180px;
    height: 100px;
    background-color: deepskyblue;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 5px;
    z-index: 1;
}

.Find-Box-element {
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}