.Home {

}

.Home-img{
  width: 100%;
  position: absolute;
  z-index: -1;
  background: url('/public/background.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.Home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow:
          -1px -1px 0 black,
          1px -1px 0 black,
          -1px  1px 0 black,
          1px  1px 0 black;
}

.Home-home-container{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Home-title-container{

}

.Home-home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  border: none;
  background: none;
  padding: 0;
}

.Home-home-button-img {
  width: 500px;
  height: 100%;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Home-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-login-button {
  position: absolute;
  right: 40px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: darkgreen;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.Home-loginhome-button {
  position: absolute;
  top: 100px;
  right: 40px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.Home-body {
  text-align: center;
  margin-top: 150px;
  font-size: 24px;
  font-weight: bold;
}

.Home-tail {
  text-align: center;
  margin-top: 80px;
  font-size: 24px;
  font-weight: bold;
}

.Home-Search {
  position: relative;
  display: flex;
  align-items: center;
}

#Home-search-input {
  width: 500px;
  padding: 20px;
  padding-right: 72px;
  font-size: 20px;
  background-color: white;
  border: 5px solid;
  border-radius: 10px;
}

.Home-search-img {
  position: absolute;
  right: 10px;
  width: 72px;
  height: 72px;
  cursor: pointer;
}

.Home-profile-img {
  position: absolute;
  right: 50px;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.Home-profileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 115px;
  right: 50px;
  width: 200px;
  height: 100px;
  background-color: deepskyblue;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 5px;
  z-index: 1;
}

.Home-profileBox-element {
  width: 130px;
  height: 50px;
  font-size: 16px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*검색기록 기능 추가 버전*/
.Home-news-list{
  margin-top: 30px;
  background: white;
  border-radius: 5px;
  border: black solid 2px;
  margin-bottom: 10px;
}
.Home-news-container{
  width: 1000px;
  height: 220px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Home-news-img-container{
  width: 320px;
  height: 200px;
  border: 2px solid black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home-news-img{
  width: 400px;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home-news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.Home-news-detail-container{
  width: 600px;
  height: 200px;
  border: 2px solid black;
}
.Home-news-title{
  width: 580px;
  height: 30px;
  font-size: 23px;
  font-weight: bold;
  display: -webkit-box;
  margin-left: 10px;
  text-align: left;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
  text-shadow: none;
}
.Home-news-summary{
  width: 580px;
  height: 130px;
  font-size: 15px;
  display: -webkit-box;
  align-items: start;
  margin-left: 10px;
  text-align: left;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
  text-shadow: none;
}
.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
}

.pagination .active {
  background-color: blue;
  color: white;
}
